In [1]:
!pip install pandasql
!pip install sqlalchemy==1.4.46

Collecting pandasql
  Downloading pandasql-0.7.3.tar.gz (26 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from pandasql) (1.23.5)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from pandasql) (1.5.3)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.10/dist-packages (from pandasql) (2.0.23)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->pandasql) (2023.3.post1)
Requirement already satisfied: typing-extensions>=4.2.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy->pandasql) (4.5.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy->pandasql) (3.0.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas->pandasql) (1.16.0)
Building wheels for collected packages: pandasql
  Building wheel for pandasql (setup.py) ... done
  Created wheel for pandasql: filename=pandasql-0.7.3-py3-none-any.whl size=26772 sha256=855a7a4987b3d7c58a87e991310b8f73917fcfbd9bccea2459483070f196f085
  Stored in directory: /root/.cache/pip/wheels/e9/bc/3a/8434bdcccf5779e72894a9b24fecbdcaf97940607eaf4bcdf9
Successfully built pandasql
Installing collected packages: pandasql
Successfully installed pandasql-0.7.3
Collecting sqlalchemy==1.4.46
  Downloading SQLAlchemy-1.4.46-cp310-cp310-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 11.7 MB/s eta 0:00:00
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy==1.4.46) (3.0.1)
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 2.0.23
    Uninstalling SQLAlchemy-2.0.23:
      Successfully uninstalled SQLAlchemy-2.0.23
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
ipython-sql 0.5.0 requires sqlalchemy>=2.0, but you have sqlalchemy 1.4.46 which is incompatible.
Successfully installed sqlalchemy-1.4.46

In [2]:
import pandas as pd
from pandasql import sqldf

In [3]:
df_casos_covid = pd.read_csv("/content/caso_full.csv")

In [4]:
df_casos_covid.shape

(288052, 18)

In [5]:
df_casos_covid.head(20)

,city,city_ibge_code,date,epidemiological_week,estimated_population,estimated_population_2019,is_last,is_repeated,last_available_confirmed,last_available_confirmed_per_100k_inhabitants,last_available_date,last_available_death_rate,last_available_deaths,order_for_place,place_type,state,new_confirmed,new_deaths
0,Rio Branco,1200401.0,2020-03-17,202012,413418.0,407319.0,False,False,3,0.72566,2020-03-17,0.0,0.0,1.0,city,AC,3.0,0.0
1,NaN,12.0,2020-03-17,202012,894470.0,881935.0,False,False,3,0.33539,2020-03-17,0.0,0.0,1.0,state,AC,3.0,0.0
2,Rio Branco,1200401.0,2020-03-18,202012,413418.0,407319.0,False,False,3,0.72566,2020-03-18,0.0,0.0,2.0,city,AC,0.0,0.0
3,NaN,12.0,2020-03-18,202012,894470.0,881935.0,False,False,3,0.33539,2020-03-18,0.0,0.0,2.0,state,AC,0.0,0.0
4,Rio Branco,1200401.0,2020-03-19,202012,413418.0,407319.0,False,False,4,0.96754,2020-03-19,0.0,0.0,3.0,city,AC,1.0,0.0
5,NaN,12.0,2020-03-19,202012,894470.0,881935.0,False,False,4,0.44719,2020-03-19,0.0,0.0,3.0,state,AC,1.0,0.0
6,Rio Branco,1200401.0,2020-03-20,202012,413418.0,407319.0,False,False,7,1.69320,2020-03-20,0.0,0.0,4.0,city,AC,3.0,0.0
7,NaN,12.0,2020-03-20,202012,894470.0,881935.0,False,False,7,0.78259,2020-03-20,0.0,0.0,4.0,state,AC,3.0,0.0
8,Rio Branco,1200401.0,2020-03-21,202012,413418.0,407319.0,False,False,11,2.66075,2020-03-21,0.0,0.0,5.0,city,AC,4.0,0.0
9,NaN,12.0,2020-03-21,202012,894470.0,881935.0,False,False,11,1.22978,2020-03-21,0.0,0.0,5.0,state,AC,4.0,0.0
10,Rio Branco,1200401.0,2020-03-22,202013,413418.0,407319.0,False,False,11,2.66075,2020-03-22,0.0,0.0,6.0,city,AC,0.0,0.0
11,NaN,12.0,2020-03-22,202013,894470.0,881935.0,False,False,11,1.22978,2020-03-22,0.0,0.0,6.0,state,AC,0.0,0.0
12,Rio Branco,1200401.0,2020-03-23,202013,413418.0,407319.0,False,False,17,4.11206,2020-03-23,0.0,0.0,7.0,city,AC,6.0,0.0
13,NaN,12.0,2020-03-23,202013,894470.0,881935.0,False,False,17,1.90057,2020-03-23,0.0,0.0,7.0,state,AC,6.0,0.0
14,Rio Branco,1200401.0,2020-03-24,202013,413418.0,407319.0,False,False,21,5.07960,2020-03-24,0.0,0.0,8.0,city,AC,4.0,0.0
15,NaN,12.0,2020-03-24,202013,894470.0,881935.0,False,False,21,2.34776,2020-03-24,0.0,0.0,8.0,state,AC,4.0,0.0
16,Rio Branco,1200401.0,2020-03-25,202013,413418.0,407319.0,False,False,23,5.56338,2020-03-25,0.0,0.0,9.0,city,AC,2.0,0.0
17,NaN,12.0,2020-03-25,202013,894470.0,881935.0,False,False,23,2.57136,2020-03-25,0.0,0.0,9.0,state,AC,2.0,0.0
18,Rio Branco,1200401.0,2020-03-26,202013,413418.0,407319.0,False,False,23,5.56338,2020-03-26,0.0,0.0,10.0,city,AC,0.0,0.0
19,NaN,12.0,2020-03-26,202013,894470.0,881935.0,False,False,23,2.57136,2020-03-26,0.0,0.0,10.0,state,AC,0.0,0.0

# 1. Selecione todas as cidades presentes na base de dados;

In [6]:
query = '''
SELECT DISTINCT city
FROM df_casos_covid
WHERE city IS NOT NULL;
'''

In [7]:
resultado = sqldf(query)

In [8]:
print(resultado)

                  city
0           Rio Branco
1           Acrelândia
2           Porto Acre
3    Plácido de Castro
4               Bujari
..                 ...
614         Tapiramutá
615    Teodoro Sampaio
616     Várzea do Poço
617             Wagner
618      Érico Cardoso

[619 rows x 1 columns]

# 2. Encontre a data mais recente em que cada cidade registrou novos casos confirmados

In [9]:
query2 = """
SELECT city, MAX(last_available_date) as data_mais_recente
FROM df_casos_covid
WHERE last_available_confirmed > 0
GROUP BY city;
"""

In [10]:
resultado2 = sqldf(query2)

In [11]:
print(resultado2)

              city data_mais_recente
0             None        2022-03-27
1            Abaré        2021-04-16
2           Abaíra        2021-04-16
3        Acajutiba        2021-04-16
4       Acrelândia        2021-11-05
..             ...               ...
615         Xapuri        2021-11-05
616    Xique-Xique        2021-04-15
617    Água Branca        2022-03-10
618      Água Fria        2021-04-15
619  Érico Cardoso        2021-04-15

[620 rows x 2 columns]

# 3. Encontre a média de mortalidade por estado;

In [12]:
query3 = """
SELECT
    state,
    AVG(last_available_death_rate) as average_mortality_rate
FROM
    df_casos_covid
GROUP BY
    state
"""

In [13]:
resultado3 = sqldf(query3)

In [14]:
print(resultado3)

  state  average_mortality_rate
0  None                     NaN
1    AC                0.016117
2    AL                0.033854
3    AM                0.020396
4    AP                0.010003
5    BA                0.022064

# 4. Para cada estado, encontre a cidade com a maior taxa de mortalidade

In [15]:
query4 = """
SELECT
    state,
    city,
    MAX(last_available_death_rate) as max_mortality_rate
FROM
    df_casos_covid
GROUP BY
    state
ORDER BY
    state
"""

In [16]:
resultado4 = sqldf(query4)

In [17]:
print(resultado4)

  state                     city  max_mortality_rate
0  None                Quijingue                 NaN
1    AC             Assis Brasil              0.5000
2    AL  São Miguel dos Milagres              1.0000
3    AM               Novo Airão              1.0000
4    AP                  Santana              0.3333
5    BA                   Utinga              1.0000

# 5. Obtenha a soma total de novos casos confirmados para cada estado em uma semana epidemiológica específica

In [18]:
query5 ="""
SELECT
    state,
    SUM(new_confirmed) as total_new_confirmed
FROM
    df_casos_covid
WHERE
    epidemiological_week = 202012
GROUP BY
    state
"""

In [19]:
resultado5 = sqldf(query5)

In [20]:
print(resultado5)

  state  total_new_confirmed
0    AC                 22.0
1    AL                 12.0
2    AM                 18.0
3    AP                  2.0
4    BA                 68.0